{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
	<h1>Posts</h1>
	{% for post in posts %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="max-height:550px; max-width:1200px; ">
			<div class="card">
				<div class="card-image" style="max-height:410px; max-width:1200px; " >
					<a href="/post/{{post.id}}" id="ImageContainer">
						<img class="img-responsive" src="uploads/images/{{post.image}}">
					</a>
				</div><!-- card image -->

				<div class="card-content" style="max-height:139px; max-width:1200px;">
					<span class="card-title">{{ post.title }}</span>
				</div><!-- card content -->

		</div>
	</div>
	{%endfor%}
</div>


{% endblock %}
